<%= render 'layouts/mainnav' %>
<!-- h1>Crosslives</h1 -->
<!-- %= link_to "Sign up now!", signup_path, :class => "signup_button round" % -->
<div id = "nav-section"></div>
<div id = "conv-section"></div>